<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- if view forgets to pass a placeholder variable then it doesn't error out. instead it uses a generic title -->
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <!-- Setting up the links in the navbar
            while we can use href="/index" here, having urls hardcoded is not good.
            instead we use flask's url_for function so that the url is automatically updated if we switch folders around
            the argument for url_for() is the endpoint name, which is the name of the view function -->
            <a href="{{ url_for('index') }}">Home</a>

            <!-- change the login button to say 'logout' instead, if user is authenticated
            The is_anonymous property is one of the attributes that Flask-Login adds to user objects through the UserMixin class.
            The current_user.is_anonymous expression is going to be True only when the user is not logged in. -->
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>

            <!-- else show the below in the navbar since the authenticated / logged in user -->
            {% else %}
            <!-- see below, we pass pull from Flask-Login's current_user -->
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

        </div>
        <hr>

        <!-- adding ability for flashed messages
        using a with construct to assign the result of calling get_flashed_messages() to a messages variable, all in the context of the template. -->
        {% with messages = get_flashed_messages() %}

        <!-- check if messages have some content, if so render list of items for messages -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>
</html>